{% extends "base.html.twig" %}

{% block title %}My commands{% endblock %}

{% block body %}
  <div class="container spacer  ">
		<div class="card bg-info text-white text-center"><h1>My Commands</h1></div>
     <table class="table table-hover mt-5 text-center">
        <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Date</th>
            <th scope="col">Total price</th>
            <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
    {% for command in commands %}
        <tr class="table">
            <th scope="row">{{command.id}}</th>
            <td>{{command.dateCommande | date('Y-m-d') }}</td>
            <td>&euro; {{command.totalPrice | number_format(2) }}</td>
            <td>
                <a class="btn btn-info text-white text-right" href="{{ path('command_lignes',{'id': command.id })}}"><i class="fas fa-eye"></i></a>
{#                 <a class="btn btn-danger text-white text-right" href="#"><i class="fas fa-trash-alt"></i></a>
 #}            </td>
            </tr>
    {% endfor %}   
        </tbody>
    </table>
    </div>
{% endblock %}
