{% extends "base.html.twig" %}

{% block title %} Profile Edition {% endblock %}
{% block body %}
 <div class="container spacer col-md-6 col-xs-6 col-md-offset-3 ">
		
			<div class="card bg-secondary text-white text-center"><h1>Edit Profil</h1>
			</div><br><br>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="text-center">
    <div class="d-inline-block form-group">
        <a class=" btn btn-warning text-white" href="{{ path('user_password') }}"><i class="fa fa-edit"></i>Edit password</a>
    </div>

    <div class="d-inline-block form-group">
        <button type="submit" class=" btn btn-primary"><i class="fa fa-save"></i>      Save</button>
    </div>
    </div>
    {{ form_end(form)}}


    </div>
    </div>
    <br>
{% endblock %}
